body {
    background-color: #1B2838;
    color: #c6d4df;
    font-family: Arial, sans-serif;
    padding-right: 20px;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #1a9fff;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}

/* Шапка */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Наименование раздела */
h1 {
    background: radial-gradient(circle at center, #6A8A48, #46602A);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-top: 0px;
    margin: 0 calc(-50vw + 50%);
    width: 100vw;
}

.card {
    background-color: #2a475e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}


.page-container {
    padding-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-left: 20px;
    background-color: #1b2838;
    flex: 1;
}

/* Стили предметов в инвентаре */
.inventory-item {
    background-color: #16202D;
    border-radius: 6px;
    padding: 1px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-left a {
    color: inherit;
}

.item-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.item-value {
    font-size: 1.1em;
    font-weight: bold;
}

input[type="number"] {
    width: 45px;
    font-family: Arial, sans-serif;
    font-size: 1.1em;  /* Увеличивает размер шрифта */
    font-weight: bold;  /* Делает шрифт жирным */
    appearance: none;  /* Стандартное свойство */
    -webkit-appearance: none;  /* Для Chrome и Safari */
    -moz-appearance: textfield;  /* Для Firefox */
    background-color: #16202D;
    border-radius: 5px;
    color: #c6d4df;
    border: 1px solid #1B2838;  /* Добавляет тонкую рамку темнее, чем цвет фона */
    box-shadow: 0px 0px 5px #0A1722;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 15px;
    
}

.form-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form input, form select, form textarea {
    background-color: #1C2D3A;
    border: 1px solid black;
    border-radius: 5px; 
    color: #c6d4df;
    font-weight: bold;
    padding: 10px;
    font-size: 0.9em;
    width: 12%;
}

form textarea {
    height: 20px;
    font-family: Arial, sans-serif;
    vertical-align: middle;
}


form label {
    font-weight: bold;
    width: 20%;
}

form button {
    background-color: #1C2D3A;
    border-radius: 5px;
    cursor: pointer;
    color: #c6d4df;
    font-size: 1.2em;
    font-weight: bold;
    width: 15%;
}

/* Название предмета в архиве */
.archive-item-name {
    background: linear-gradient(to left, #1B2838, #171D25);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

/* Детали сделок */

.deal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.deal {
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(to left, #1B2838, #16202D);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: calc(50% - 10px);
    height: calc(100% * 0.6);
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex-basis: calc(50% - 10px);
}


.deal:before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to right, #1B2838, #16202D);
    z-index: -1;
    border-radius: 5px;
}

.deal-name {
    color: #c6d4df;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 13px;
}

.deal-details {
    color: #c6d4df;
    font-family: Arial, sans-serif;
}

.deal-details p {
    margin: 10px 0; /* Уменьшаем верхний и нижний отступы */
}



/* Кнопки редактирования в деталях сделки */
.deal-change-details {
    display: flex;
    justify-content: space-between;
}

.deal-change-details a{
    border: 2px solid #1C2D3A;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

.deal-change-details a:hover {
    border-color: #2A3F5F;
    box-shadow: 0 0 10px #2A3F5F;
}

/* Кнопки редактирования сделок в архиве */
.deal-change-archived {
    border: 2px solid #1C2D3A;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.deal-change-archived:hover {
    border-color: #2A3F5F;
    box-shadow: 0 0 10px #2A3F5F;
}

