body {
    background-color: #1B2838;
    color: #c6d4df;
    font-family: Arial, sans-serif;
    padding-right: 20px;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #1a9fff;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}

/* Шапка */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Наименование раздела */
h1 {
    background: radial-gradient(circle at center, #6A8A48, #46602A);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-top: 0px;
    margin: 0 calc(-50vw + 50%);
    width: 100vw;
}

.card {
    background-color: #2a475e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}


.page-container {
    padding-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-left: 20px;
    background-color: #1b2838;
    flex: 1;
}

/* Стили предметов в инвентаре */
.inventory-item {
    background-color: #16202D;
    border-radius: 6px;
    padding: 1px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0.5;
}

.item-left a {
    color: inherit;
}

.item-image {
    background-color: #333333;
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid #c6d4df77;
    margin-right: 10px;
}

.item-image img {
    width: 70px;
    height: 70px;
}

.item-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.item-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item-amount-details {
    position: relative;
}

.item-amount-details .item-part:not(:last-child) {
    margin-bottom: 14px;
}

.item-amount-details .item-part .item-label {
    margin-right: 60px;
}

.item-amount-details .item-part .item-value {
    position: absolute;
    right: 0;
}

.item-value {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 4px;
}

.item-right input[type="number"] {
    width: 58px;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: #16202D;
    border-radius: 5px;
    color: #c6d4df;
    border: 2px solid #1B2838;
    box-shadow: 1px 0px 5px #1B2838;
}

.item-right input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-spread.positive {
    color: green;
}

.item-spread.negative {
    color: red;
}

.item-spread.zero {
    color: yellow;
}

.item-label {
    display: flex;
    align-items: center;
    position: relative; 
}

.item-label::before {
    content: "";
    position: absolute;
    top: -17px;
    left: -4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.arrow-up::before {
    border-bottom: 10px solid green;
}

.arrow-down::before {
    border-top: 10px solid red;
}

.arrow-none {
    color: yellow;
}

.error::before {
    content: "✖";
    color: red;
    position: absolute;
    top: -17px;
    left: -4px;
}

form {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 15px;
    
}

.form-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form input, form select, form textarea {
    background-color: #1C2D3A;
    border: 1px solid black;
    border-radius: 5px; 
    color: #c6d4df;
    font-weight: bold;
    padding: 10px;
    font-size: 0.9em;
    width: 14%;
}

form textarea {
    height: 20px;
    font-family: Arial, sans-serif;
    vertical-align: middle;
}


form label {
    font-weight: bold;
    width: 20%;
}

form button {
    background-color: #1C2D3A;
    border-radius: 5px;
    cursor: pointer;
    color: #c6d4df;
    font-size: 1.2em;
    font-weight: bold;
    width: 15%;
}

#buyButton, #sellButton {
    width: 90px; /* Уменьшаем ширину кнопки */
    text-align: center; /* Выравниваем текст по центру */
    border: none; /* Убираем рамки */
    color: white; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
    height: 32px;
    margin-right: 10px;
    
}
  
#buyButton {
    background-color: #4CAF50; /* Green */
}

#buyButton:hover, #buyButton.selected {
    background-color: #388E3C; /* Darker green */
    box-shadow: 0 0 10px #4CAF50; /* Добавляем зеленую рамку вокруг кнопки */
}

#sellButton {
    background-color: #f44336; /* Red */
}

#sellButton:hover, #sellButton.selected {
    background-color: #d32f2f; /* Darker red */
    box-shadow: 0 0 10px #f44336; /* Добавляем красную рамку вокруг кнопки */
}

/* Название предмета в архиве */
.archive-item-name {
    background: linear-gradient(to left, #1B2838, #171D25);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

/* Детали сделок */
.add-deal-button {
    background: linear-gradient(to left, #1B2838, #16202D);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.add-deal-button:hover {
    border-color: #2A3F5F;
    box-shadow: 0 0 10px #2A3F5F;
}

.button-wrapper {
    margin-top: 17px; 
}


.deal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.deal {
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(to left, #1B2838, #16202D);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: calc(50% - 10px);
    height: calc(100% * 0.6);
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex-basis: calc(50% - 10px);
}

.deal:before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to right, #1B2838, #16202D);
    z-index: -1;
    border-radius: 5px;
}

.deal-name {
    color: #c6d4df;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 13px;
}

.deal-details {
    color: #c6d4df;
    font-family: Arial, sans-serif;
}

.deal-details p {
    margin: 10px 0; /* Уменьшаем верхний и нижний отступы */
}

/* Кнопки редактирования в деталях сделки */
.deal-change-details {
    display: flex;
    justify-content: space-between;
}

.deal-change-details a{
    border: 2px solid #1C2D3A;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

.deal-change-details a:hover {
    border-color: #2A3F5F;
    box-shadow: 0 0 10px #2A3F5F;
}

/* Кнопки редактирования сделок в архиве */
.deal-change-archived {
    border: 2px solid #1C2D3A;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.deal-change-archived:hover {
    border-color: #2A3F5F;
    box-shadow: 0 0 10px #2A3F5F;
}

.refresh-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.refresh-button .icon {
    font-size: 30px;
    color: #888;
    font-weight: bold;
}
