{% load static %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <title>Steam Items</title>
</head>
<body>
  <div class="page-container">
    {% include 'header.html' %}
    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
    <div class="footer-container">
      {% include 'footer.html' %}
    </div>
  </div>
</body>
