{% extends "base_generic.html" %}
{% block content %}
<h1>Добавить сделку</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-field">
      {{ field.errors }}
      {% if field.label and not field.field.widget.input_type == 'hidden' %}
        {{ field.label_tag }}
      {% endif %}
      {% if field.name == 'transaction_type' %}
        <div class="transaction-type-buttons">
          <button type="button" id="buyButton" onclick="setTransactionType('BUY')">Купил</button>
          <button type="button" id="sellButton" onclick="setTransactionType('SELL')">Продал</button>
        </div>
        {{ field.as_hidden }}
      {% elif field.name == 'date' %}
        <input type="datetime-local" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value|date:'Y-m-d\TH:i' }}">
      {% else %}
        {{ field }}
      {% endif %}
      {% if field.name == 'item' %}
        <div class="item-image" style="margin-left: 20px;">
          <img id="itemImage" src="{{ items.0.image }}" style="display: none;" alt="">
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <div style="display: flex; width: auto;">
    <button type="submit" style="margin-right: 70px;">Добавить</button>
    <button type="submit" name="add_another">Добавить еще</button>
  </div>
</form>

<script>
  // Создание словаря, где ключи - это ID предметов, а значения - это URL изображений предметов
  var itemImages = {
    {% for item in items %}
      "{{ item.id }}": "{{ item.image }}",
    {% endfor %}
  };

  // Получение элементов DOM
  var itemImageDiv = document.querySelector('.item-image');
  var img = document.getElementById('itemImage');
  var itemSelect = document.getElementById('id_item');
  
  // Функция для обновления изображения в зависимости от выбранного предмета
  function updateImage() {
    var url = itemImages[this.value];
    if (url) {
      // Если URL изображения не начинается с 'http', добавляем '/' в начало
      if (!url.startsWith('http')) {
        url = '/' + url;
      }
      img.src = url;
      img.style.display = 'block';
      itemImageDiv.style.height = '60px';
      itemImageDiv.style.border = '1px solid #c6d4df77';
    } else if (this.value) {
      // Если предмет выбран, но у него нет URL изображения, отображаем изображение по умолчанию
      img.style.display = 'block';
      itemImageDiv.style.height = '60px';
      itemImageDiv.style.border = '1px solid #c6d4df77';
    } else {
      // Если предмет не выбран, скрываем изображение
      img.style.display = 'none';
      itemImageDiv.style.height = '0';
      itemImageDiv.style.border = 'none';
    }
  }
  // Добавляем обработчик события 'change' для выпадающего списка предметов
  itemSelect.addEventListener('change', updateImage);
  // Вызываем функцию updateImage при загрузке страницы
  updateImage.call(itemSelect);

  // Получение элементов DOM
  var buyButton = document.getElementById('buyButton');
  var sellButton = document.getElementById('sellButton');
  var transactionTypeSelect = document.getElementById('id_transaction_type');

  function setTransactionType(type) {
    transactionTypeSelect.value = type;
    if (type === 'BUY') {
      buyButton.classList.add('selected');
      sellButton.classList.remove('selected');
    } else if (type === 'SELL') {
      sellButton.classList.add('selected');
      buyButton.classList.remove('selected');
    }
  }

  buyButton.addEventListener('click', function() { setTransactionType('BUY'); });
  sellButton.addEventListener('click', function() { setTransactionType('SELL'); });
  setTransactionType('BUY')
</script>

{% endblock %}
