{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<script src="{% static 'main.js' %}"></script>
  <h1>Инвентарь</h1>
  <div class="inventory-item">
    <div class="item-left">
      <h2>Общая информация</h2>
    </div>
    <div class="item-right">
      <div class="item-part">
        <span class="item-label">Общее количество:</span>
        <span class="item-value">{{ total_quantity }}</span>
      </div>
      <div class="item-part">
        <span class="item-label">Средняя цена:</span>
        <span class="item-value">{{ average_price|floatformat:2 }}</span>
      </div>
      <div class="item-part">
        <span class="item-label">Общая стоимость:</span>
        <span class="item-value">{{ total_price|floatformat:2 }}</span>
      </div>
    </div>
  </div>

  {% for item in items %}
    <div class="inventory-item"> 
      <div class="item-left">
        <a href="{% url 'item_detail' item.id %}">
          <div style="display: flex; align-items: center;">
            {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.name }}" style="width: 50px; height: 50px; margin-right: 10px;">
            {% endif %}
            <h2>{{ item.name }}</h2>
          </div>
        </a>
      </div>
      <div class="item-right">
        <div class="item-part">
            <span class="item-label">Общее количество:</span>
            <span class="item-value">{{ item.quantity }}</span>
        </div>
        <div class="item-part">
            <span class="item-label">Средняя цена:</span>
            <span class="item-value">{{ item.average_price|floatformat:2 }}</span>
        </div>
        <div class="item-part">
          <span class="item-label">Текущая цена:</span>
          <input type="number" id="current_price_{{ item.id }}" value="{{ item.current_price|floatformat:2 }}" onchange="saveCurrentPrice('{{ item.id }}')" onkeypress="handleKeyPress(event, '{{ item.id }}')">
      </div>
    </div>
    </div>
  {% endfor %}
{% endblock %}
