{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<script src="{% static 'main.js' %}"></script>
  <h1>Инвентарь</h1>

  <div class="inventory-item">
    <div class="item-left">
      <h2>Общая информация</h2>
    </div>
    <div class="item-right">
      <div class="item-part">
        <span class="item-label">Количество:</span>
        <span class="item-value">{{ total_quantity }}</span>
      </div>

      <div class="item-part">
        <span class="item-label">Ср. цена:</span>
        <span class="item-value">{{ average_price|floatformat:2 }}</span>
      </div>

      <div class="item-part">
        <span class="item-label">Стоимость:</span>
        <span class="item-value">{{ total_price|floatformat:2 }}</span>
      </div>
    </div>
  </div>

  {% for item in items %}
    <div class="inventory-item"> 
      <div class="item-left">
        <a href="{% url 'item_detail' item.id %}">
          <div style="display: flex; align-items: center;">
            {% if item.image %}
            <div class="item-image">
              <img src="{{ item.image }}" alt="{{ item.name }}">
            </div>
            {% endif %}
            <h2>{{ item.name }}</h2>
          </div>
        </a>
      </div>

      <div class="item-right">
        <div class="item-amount-details">
          <div class="item-part item-quantity">
              <span class="item-label">Количество:</span>
              <span class="item-value">{{ item.quantity }}</span>
          </div>
  
          <div class="item-part item-average-price">
            <span class="item-label">Средняя цена:</span>
            <span class="item-value">{{ item.average_price|floatformat:2 }}</span>
          </div>

          <div class="item-part">
              <span class="item-label">Общая стоимость:</span>
              <span class="item-value">{{ item.total_price|floatformat:2 }}</span>
          </div>
      </div>

        <div class="item-part item-current-price">
          <a href="{% url 'price_history' item.id %}">
            <span class="item-label" id="arrow_{{ item.id }}">Текущая цена:</span>
          </a>
          <input type="number" id="current_price_{{ item.id }}" value="{{ item.current_price|floatformat:2 }}" onchange="saveCurrentPrice('{{ item.id }}')" onkeypress="handleKeyPress(event, '{{ item.id }}')">
          <input type="hidden" id="old_current_price_{{ item.id }}" value="{{ item.current_price|floatformat:2 }}">
        </div>

        <div class="item-part item-target-price" style="width: 100px;">
          <span class="item-label">Цель:</span>
          <span class="item-value" id="target_price_{{ item.id }}">{{ item.target|floatformat:2 }}</span>
        </div>

        <div class="item-part item-spread {% if item.current_price == 0 %}zero{% elif item.spread > 0 %}positive{% elif item.spread < 0 %}negative{% endif %}" style="width: 110px;">
          <span class="item-label">Спред:</span>
          <span class="item-value">{{ item.spread|floatformat:2 }}%</span>
        </div>
      </div>
    </div>
  {% endfor %}

<script>
  window.onload = function() {
      var elements = document.getElementsByTagName('h2');
      for(var i = 0; i < elements.length; i++) {
          if(elements[i].textContent.startsWith('Inscribed')) {
              elements[i].style.color = '#CF6A30';
              var parent = elements[i].parentElement;
              while(parent) {
                  if(parent.className.includes('inventory-item')) {
                      var itemImage = parent.getElementsByClassName('item-image')[0];
                      if(itemImage) {
                          itemImage.style.borderColor = '#CF6A30';
                      }
                      break;
                  }
                  parent = parent.parentElement;
              }
          }
      }
  }
</script>
{% endblock %}
