{% extends "base_generic.html" %}

{% block content %}
  <div class="deal-title">
    <h1>{{ item.name }}</h1>
  </div>
  <div class="button-wrapper">
    <a href="{% url 'create_deal' item.id %}" class="add-deal-button">Добавить сделку по данному предмету</a>
  </div>
  <div class="deal-container">
    {% for addition in additions %}
      <div class="deal">
        <h2 class="deal-name">
          <span class="transaction-type {{ addition.transaction_type }}">{{ addition.get_transaction_type_display }}</span>
          <span class="transaction-date">{{ addition.date|date:"d.m.y H:i:s" }}</span>
        </h2>
        <div class="deal-details">
          <p><span class="item-label">Количество:</span> <span class="item-value">{{ addition.quantity }}</span></p>
          <p><span class="item-label">Цена за штуку:</span> <span class="item-value">{{ addition.price_per_item }}</span></p>
          <p><span class="item-label">Комиссия:</span> <span class="item-value">{{ addition.commission }}%</span></p>
        </div>
        <div class="deal-change-details">
          <a href="{% url 'archive_addition' addition.id %}">Архивировать</a>
          <a href="{% url 'edit_deal' addition.id %}">Редактировать</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
